
<div class="main">
<p><%= @name %>さんの投稿一覧</p>
	<% @posts.each do |post| %>
		<div class="content">
      <% if user_signed_in? %>
			<%= link_to '編集する', edit_post_path(post.id), class: 'to-btn to-edit' %>
			<% end %>
			<div class="content-left">
				<div class="content-finished">
					<div class="content-title"><%= post.title %></div>
					<%= post.finished_img %>
				</div>
			</div>
			<div class="content-right">
				<div class="content-created"><%= post.created_at.strftime("%Y年%m月%d日") %>投稿</div>
				<div class="content-intro"><%= post.introduction %></div>
				<%= link_to '詳細へ', post_path(post.id), class: 'to-btn to-show' %>
			</div>
		</div>
	<% end %>
</div>