<div class="show-main">
  <div class="show-wrapper">
    <div class="show-wrapper-left">
    	<div class="container">
    	  <div class="show-title"><%= @post.title %></div>
          <div class="show-finished", style="background-image: url(<%= rails_blob_path(@post.image) %>) ">
            <% if user_signed_in? && current_user.id == @post.user_id %>
    				<%= link_to '編集する', edit_post_path(@post.id), class: 'to-btn to-edit' %>
    				<%= link_to '削除する', post_path(@post.id), method: :delete, data: { confirm: "本当に削除しますか?" }, class: 'to-btn to-delete' %>
    				<% end %>
        	  <%= @post.image %>
          </div>
          <div class="name-created">
            <div class="show-img" style="background-image: url(<%= rails_blob_path(@post.user.image) %>)"></div>
            <div class=show-name ><%= @post.user.name %>さんの作品</div>
          	<div class="show-created"><%= @post.created_at.strftime("%Y年%m月%d日") %>投稿</div>
        	</div>
        </div>
  	  </div>
  	<div class="show-wrapper-right">
  	  <div class="container">
  	    <% if @post.introduction? %>
      	<div class="show-intro"><%= @post.introduction %></div>
      	<% end %>
  	    <% if @post.introduction? %>
        <div class="show-heading-title">工夫したところ、コツやポイント!</div>
      	<div class="show-content"><%= @post.important %></div>
      	<% end %>
  	    <% if @post.introduction? %>
        <div class="show-heading-title">製作期間はどのくらい？</div>
        <div class="show-content"><%= @post.production_period %></div>
      	<% end %>
  	    <% if @post.introduction? %>
        <div class="show-heading-title">使った材料は？</div>
        <div class="show-content"><%= @post.material %></div>
      	<% end %>
  	    <% if @post.introduction? %>
        <div class="show-heading-title">どんな道具を使ったの？</div>
        <div class="show-content"><%= @post.tool %></div>
      	<% end %>
  	    <% if @post.introduction? %>
        <div class="show-heading-title">予算額は？</div>
        <div class="show-content"><%= @post.budget %></div>
      	<% end %>
      </div>
      <div class="container">
        <% if user_signed_in? %>
          <%= form_with(model: [@post, @comment], local: true) do |f| %>
          <%= f.text_area :text, placeholder: "コメントする", rows: "3" %>
          <%= f.submit "物申す" %>
          <% end %>
        <% else %>
          <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
        <% end %>
        <div class="comments">
          <h4>＜コメント一覧＞</h4>
          <% if @comments %>
            <% @comments.each do |comment| %>
              <p>
                <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %>：</strong>
                <%= comment.text %>
              </p>
            <% end %>
          <% end %>
        </div>
      </div>
  	</div>
	</div>
</div>