<!DOCTYPE html>
<html>
  <head>
    <title>DIYの達人</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header-left">
        <div class="title"><%= link_to 'DIYの達人', '/' %></div>
         <p class="flash notice"><%= notice %></p>
         <p class="flash alert"><%= alert %></p>
      </div>
      <div class="header-right">
        <a href="/users/edit/<%= current_user.id %>">
          <ul class="account-info">
            <li><div class="profile-image" style="background-image: url(<%= rails_blob_path(current_user.image) %>) "></li>
            <li><%= current_user.name %></li>
          </ul>
        </a>
        <ul class="header-lists">
          <% if user_signed_in? %>
          <li class="header-list"><%= link_to 'マイページ', user_path(current_user.id) %></li>
          <li class="header-list"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <li class="header-list post"><%= link_to '投稿する', new_post_path %></li>
          <% else %>
          <li class="header-list"><%= link_to 'ログイン', new_user_session_path %></li>
          <li class="header-list" ><%= link_to '新規登録', new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
